@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply font-sans text-base xs:text-sm sm:text-lg md:text-xl;
}

body,
#__nuxt {
	@apply min-h-screen bg-background px-2 xs:px-1;
}

#__nuxt {
	@apply pb-4 mx-auto max-w-[1000px];
}
